輸入套件

In [52]:
import pandas as pd
import scipy.optimize as optimize
from IPython.display import display

輸入五個變數（現值，面額，年數，Bond Coupon Rate，每年計息幾次）

In [53]:
PVV=int(input('現值'))
par=int(input('面額'))
yy=int(input('年數'))
tt=float(input('Bond Coupon Rate(%)'))
fre=int(input('每年計息幾次'))

現值95
面額100
年數2
Bond Coupon Rate(%)1
每年計息幾次1

建立list，使用逼近法，遞迴算出年數為1-100年的YTM(但只顯示使用者輸入的年數）

In [54]:
tr = [] 
yr = [] 
for i in range(1,100):
  ttm =i
  price = PVV
                                
  def YTM_1(PV, PARVA, ttm, coup, freq, guess=0.01):
    freq = float(freq)
    coupon = coup/100.*PARVA/freq
    ytm_func = lambda y: coupon*(1-(1+(y/freq))**(-freq*ttm))/(y/freq)  + PARVA/(1+y/freq)**(freq*ttm) - PV
                  
    return optimize.newton(ytm_func, guess)
          
  if __name__ == "__main__":
    ytm = YTM_1(PVV, par, i, tt, fre)
    YTM_F=round(ytm,6)
    tr.append(ttm)
    yr.append(YTM_F)

將YTM與每年計息幾次調整正確，並且顯示。

In [55]:
YTM_FF=yr[yy-1]/fre
YTM_FFF = "YTM= %f" %(YTM_FF)
print (YTM_FFF)

YTM= 0.036372

如果現值大於面額，停止計算
如果現值小於面額，繼續計算Spot rates 和Forward Rates

In [56]:
if PVV>par:
  print('現值比面額大，無法計算Spot rates 和Forward Rates')
else:              
      s = [] 
      for w in range(0, 6): 
          value = round((price/par)**(-1/(w+1)) - 1,6)
          s.append(value)

建立list，並且將表著中重複的部分填0

In [57]:
      F0 = []  
      F1 = []
      F2 = []
      F3 = []
      F4 = []
      F5 = []
       
      for i in range(0, 6):
          for j in range(0, 6):
              if i==0:
                if j-i<=0:
                  f=0
                  F0.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F0.append(f)
              if i==1:
                if j-i<=0:
                  f=0
                  F1.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F1.append(f)
              if i==2:
                if j-i<=0:
                  f=0
                  F2.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F2.append(f)
              if i==3:
                if j-i<=0:
                  f=0
                  F3.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F3.append(f)
              if i==4:
                if j-i<=0:
                  f=0
                  F4.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F4.append(f)
              if i==5:
                if j-i<=0:
                  f=0
                  F5.append(f)
                else: 
                  f=round(((1+s[j])**j/(1+s[i])**i)**(1/(j-i))-1,6)
                  F5.append(f)

建立表格，顯示Spot rates 和Forward Rates

In [58]:
      row=['0','1','2','3','4','5']
      col=['0','1','2','3','4','5']
      col_1=['1年','2年','3年','4年','5年','6年']
      S=['Spot Rates']
      SI=s
      FI=[F0,F1,F2,F3,F4,F5]
      df= pd.DataFrame(SI, index = col_1 , columns = S)
      display(df)
      print('Forward Rates') 
      df2 = pd.DataFrame(FI, index = row, columns = col)
      display(df2)

    Spot Rates
1年    0.052632
2年    0.025978
3年    0.017245
4年    0.012906
5年    0.010311
6年    0.008586

Forward Rates

   0         1         2         3         4         5
0  0  0.025978  0.017245  0.012906  0.010311  0.008586
1  0  0.000000  0.008586  0.006433  0.005142  0.004284
2  0  0.000000  0.000000  0.004283  0.003424  0.002854
3  0  0.000000  0.000000  0.000000  0.002566  0.002141
4  0  0.000000  0.000000  0.000000  0.000000  0.001715
5  0  0.000000  0.000000  0.000000  0.000000  0.000000