插入套件

In [2]:
import copy
import math
import pandas as pd

輸入六個變數（StockPrice，StrikePrice，continuously compounded riskless rate，periods，漲價比值，跌價比值）

In [3]:
StockPrice=int(input('Stock Price ?'))
StrikePrice=int(input('Strike Price ?'))
RIR=float(input('continuously compounded riskless rate(%) ?'))*0.01
TP=int(input('periods ?'))
U=float(input('漲價比值'))
D=float(input('跌價比值'))

Stock Price ?160
Strike Price ?150
continuously compounded riskless rate(%) ?18.232
periods ?3
漲價比值1.5
跌價比值0.5

將continuously compounded riskless rate轉換，計算出機率，建立符合樣式的list，計算出Binonial process for the stock price

In [4]:
R=round(math.exp(RIR),5)
p=(R-D)/(U-D)
CALL=[]
for j in range(0,TP+1):
  CALL_s=[0]*(j+1)
  CALL.append(CALL_s)  
  for i in range(0,j+1):
    CALL[j][i]=StockPrice*U**(j-i)*D**(i)

輸出Binonial process for the stock price表格

In [5]:
roww=[0]*(TP+1)
for x in range(0,TP+1):
  roww[x] = str('第'+str(x)+'期')

print('Binonial process for the stock price:')
df = pd.DataFrame(CALL,index=roww)
df.where(df.notnull(),'-')

Binonial process for the stock price:

       0    1   2   3
第0期  160    -   -   -
第1期  240   80   -   -
第2期  360  120  40   -
第3期  540  180  60  20

複製剛剛的list，將答案減去StrikePrice，若小於0則設為零

In [6]:
PV_s=CALL[-1]
PV_C= copy.deepcopy(PV_s)
PV_P= copy.deepcopy(PV_s)
for i in range(0,len(PV_C)):
  PV_C[i]=max(PV_C[i]-StrikePrice,0)

建立計算中使用的list和符合樣式的list，計算出Binonial process for the call price，並且顯示call value和表格

In [7]:
PV_l=[]
PV=[]
for i in range(1,TP+1):
  PV_l=[0]*i
  PV.append(PV_l)
PV.insert(len(PV_C), PV_C)
for i in range(1,TP+1):
  for j in range(0,TP-i+1):
    PV[TP-i][j]=(p*PV[TP-i+1][j]+(1-p)*PV[TP-i+1][j+1])/R
print('CALL VALUE:')     
CP=round(PV[0][0] ,3) 
print(CP) 
print('Binonial process for the call price:') 
df1 = pd.DataFrame(PV,index=roww)
df1.where(df1.notnull(),'-')

CALL VALUE:
85.069
Binonial process for the call price:

           0        1  2  3
第0期  85.0694        -  -  -
第1期  141.458  10.2083  -  -
第2期      235     17.5  0  -
第3期      390       30  0  0

建立計算中使用的list和符合樣式的list，計算出Binonial process for the put price，並且顯示put value和表格

In [8]:
PVP=[]
for i in range(0,len(PV_P)):
  PV_P[i]=max(StrikePrice-PV_P[i],0)
for i in range(1,TP+1):
  PV_l=[0]*i
  PVP.append(PV_l)
PVP.insert(len(PV_P), PV_P)
for i in range(1,TP+1):
  for j in range(0,TP-i+1):
    PVP[TP-i][j]=(p*PVP[TP-i+1][j]+(1-p)*PVP[TP-i+1][j+1])/R

print('PUT VALUE:')     
PP=round(PVP[0][0] ,3) 
print(PP) 

print('Binonial process for the put price:') 
df2 = pd.DataFrame(PVP,index=roww)
df2.where(df2.notnull(),'-')

PUT VALUE:
11.875
Binonial process for the put price:

          0       1   2    3
第0期  11.875       -   -    -
第1期   5.625  34.375   -    -
第2期       0    22.5  85    -
第3期       0       0  90  130